.button-size(@height; @padding-horizontal; @font-size; @border-radius) {
  @padding-vertical: max(
    round((@height - @font-size * @line-height-base) / 2 * 10) / 10 -
      @border-width-base,
    0
  );

  height: @height;
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  border-radius: @border-radius;
}

.button-color(@color; @background; @border) {
  color: @color;
  background: @background;
  border-color: @border; // a inside Button which only work in Chrome

  // http://stackoverflow.com/a/17253457
  > a:only-child {
    color: currentcolor;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: transparent;
      content: '';
    }
  }
}

.button-disabled(@color: @btn-disabled-color; @background: @btn-disabled-bg; @border: @btn-disabled-border) {
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      opacity: 0.5;
      .button-color(@color; @background; @border);

      text-shadow: none;
      box-shadow: none;
    }
  }
}

.button-variant-other(@color; @background; @border; @type: none) {
  .button-color(@color; @background; @border);

  // hover和focus分别作为鼠标和键盘用户的 悬停 状态
  // 但注意 按钮悬浮加点击时依次出发hover focus active
  // 点击完成时active失效，按钮会一直处于focus状态
  &:hover,
  &:focus {
    // default button
    & when (@type = default) {
      .button-color(@neutral-1; @background; @border);
    }

    // default red button
    & when (@type =default-red) {
      .button-color(#CF3E3E; @background; #CF3E3E);
    }

    // default blue button
    & when (@type =default-blue) {
      .button-color(#0071e1; @background; #0071e1);
    }

    // secondary button
    & when (@type =secondary) {
      .button-color(@color; @divider-block-color; @border);
    }

    // secondary-red button
    & when (@type =secondary-red) {
      .button-color(@color; #FCD5D5; @border);
    }

    // dashed button
    & when (@type =dashed) {
      .button-color(@btn-dashed-hover-color; @btn-dashed-hover-bg; @border);
    }

    // & when (@theme = dark) {
    //   .button-color(@primary-5; @background; @primary-5);
    // }
    // & when not (@theme = dark) {
    //   .button-color(
    //     ~`colorPalette('@{btn-primary-bg}', 5) `; @background;
    //       ~`colorPalette('@{btn-primary-bg}', 5) `
    //   );
    // }
  }

  &:active {
    // dashed button
    // & when (@type =dashed) {

    // }

    // & when (@theme = dark) {
    //   .button-color(@primary-7; @background; @primary-7);
    // }
    // & when not (@theme = dark) {
    //   .button-color(
    //     ~`colorPalette('@{btn-primary-bg}', 7) `; @background;
    //       ~`colorPalette('@{btn-primary-bg}', 7) `
    //   );
    // }
  }

  // disable样式
  // .button-disabled();
}

.button-variant-primary(@color; @background) {
  .button-color(@color; @background; @background);

  text-shadow: @btn-text-shadow;
  box-shadow: @btn-primary-shadow;

  &:hover,
  &:focus {
    .button-color(@color; #CF3E3E; #CF3E3E);

    // & when (@theme = dark) {
    //   .button-color(
    //     @color; ~`colorPalette('@{background}', 7) `; ~`colorPalette('@{background}', 7) `
    //   );
    // }
    // & when not (@theme = dark) {
    //   .button-color(
    //     @color; ~`colorPalette('@{background}', 5) `; ~`colorPalette('@{background}', 5) `
    //   );
    // }
  }

  &:active {
    // & when (@theme = dark) {
    //   .button-color(
    //     @color; ~`colorPalette('@{background}', 5) `; ~`colorPalette('@{background}', 5) `
    //   );
    // }
    // & when not (@theme = dark) {
    //   .button-color(
    //     @color; ~`colorPalette('@{background}', 7) `; ~`colorPalette('@{background}', 7) `
    //   );
    // }
  }

  // .button-disabled();
  .button-disabled(@color; @background; @background);
}

.button-variant-ghost(@color; @border: @color) {
  .button-color(@color; transparent; @border);

  text-shadow: none;

  // &:hover,
  // &:focus {
  //   // & when (@border = transparent) {
  //   //   & when (@theme = dark) {
  //   //     .button-color(~`colorPalette('@{color}', 7) `; transparent; transparent);
  //   //   }
  //   //   & when not (@theme = dark) {
  //   //     .button-color(~`colorPalette('@{color}', 5) `; transparent; transparent);
  //   //   }
  //   // }
  //   // & when not (@border = transparent) {
  //   //   & when (@theme = dark) {
  //   //     .button-color(
  //   //       ~`colorPalette('@{color}', 7) `; transparent; ~`colorPalette('@{color}', 7) `
  //   //     );
  //   //   }
  //   //   & when not (@theme = dark) {
  //   //     .button-color(
  //   //       ~`colorPalette('@{color}', 5) `; transparent; ~`colorPalette('@{color}', 5) `
  //   //     );
  //   //   }
  //   // }
  // }

  // &:active {
  //   // & when (@border = transparent) {
  //   //   & when (@theme = dark) {
  //   //     .button-color(~`colorPalette('@{color}', 5) `; transparent; transparent);
  //   //   }
  //   //   & when not (@theme = dark) {
  //   //     .button-color(~`colorPalette('@{color}', 7) `; transparent; transparent);
  //   //   }
  //   // }
  //   // & when not(@border = transparent) {
  //   //   & when (@theme = dark) {
  //   //     .button-color(
  //   //       ~`colorPalette('@{color}', 5) `; transparent; ~`colorPalette('@{color}', 5) `
  //   //     );
  //   //   }
  //   //   & when not (@theme = dark) {
  //   //     .button-color(
  //   //       ~`colorPalette('@{color}', 7) `; transparent; ~`colorPalette('@{color}', 7) `
  //   //     );
  //   //   }
  //   // }
  // }

  // .button-disabled();
}

// button基础样式
.btn() {
  position: relative;
  display: inline-block;
  font-weight: @font-weight-normal;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: @btn-border-width @btn-border-style transparent;
  box-sizing: border-box;
  box-shadow: @btn-shadow;
  cursor: pointer;
  transition: all 0.3s @ease-in-out;
  user-select: none;
  touch-action: manipulation;

  .button-size(31px; 14px; 14px; 3px);
  //ft定制
  line-height: 21px;
  // > .@{iconfont-css-prefix} {
  //   line-height: 1;
  // }

  &,
  &:active,
  &:focus {
    outline: 0;
  }

  &:not([disabled]):hover {
    text-decoration: none;
  }

  &:not([disabled]):active {
    outline: 0;
    box-shadow: none;
  }

  &[disabled] {
    cursor: not-allowed;

    > * {
      pointer-events: none;
    }
  }

  &-lg {
    .button-size(34px; 14px; 16px; 3px);
    line-height: 24px;
  }

  &-sm {
    .button-size(28px; 14px; 12px; 3px);
    line-height: 18px;
  }
}

// type: default primary dashed text link (future设计单独加的一个secondary。。)
// default button style
.btn-default() {
  .button-variant-other(@btn-default-color; @btn-default-bg; @btn-default-border; default);

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    background: @btn-default-bg;
  }

  .button-disabled(@neutral-4; @white; @neutral-4);
}

// primary button style
.btn-primary() {
  .button-variant-primary(@btn-primary-color; @btn-primary-bg);
}

// dashed button style
.btn-dashed() {
  .button-variant-other(@btn-dashed-color; @btn-dashed-bg; @btn-dashed-border; dashed);

  border-style: dashed;
  .button-disabled(@neutral-4; @backgroud-2-color; @divider-button-color);
}

// text button style
.btn-text() {
  .button-variant-other(@btn-text-color; transparent; transparent; text);

  box-shadow: none;

  &:hover,
  &:focus {
    color: @btn-text-hover-color;
    background: none;
    border-color: transparent;
  }

  // &:active {
  //   color: @hover-color;
  //   background: fadein(@btn-text-hover-bg, 1%);
  //   border-color: transparent;
  // }
  .button-disabled(@neutral-4; transparent; transparent);
}

// link button style
.btn-link() {
  .button-variant-other(@btn-link-color; transparent; transparent; link);

  box-shadow: none;

  &:hover {
    color: @btn-link-hover-color;
    background: none;
    border-color: transparent;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }

  .button-disabled(@neutral-4; transparent; transparent);
}

// state: danger ghost loading disabled
// danger

// ghost button style
.btn-ghost() {
  .button-variant-other(@btn-ghost-color, @btn-ghost-bg, @btn-ghost-border);
  // &:hover,
  // &:focus {

  // }
  // &:active{

  // }
}

// round button
.btn-round(@btnClassName: btn) {
  .button-size(@btn-circle-size; @btn-circle-size / 2; @font-size-base; @btn-circle-size);
  &.@{btnClassName}-lg {
    .button-size(
      @btn-circle-size-lg; @btn-circle-size-lg / 2; @btn-font-size-lg; @btn-circle-size-lg
    );
  }
  &.@{btnClassName}-sm {
    .button-size(
      @btn-circle-size-sm; @btn-circle-size-sm / 2; @font-size-base; @btn-circle-size-sm
    );
  }
}

// circle button: the content only contains icon
.btn-circle(@btnClassName: btn) {
  min-width: @btn-height-base;
  height: @btn-height-base;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  border-radius: 50%;

  &.@{btnClassName}-lg {
    min-width: @btn-height-lg;
    height: @btn-height-lg;
    border-radius: 50%;
  }

  &.@{btnClassName}-sm {
    min-width: @btn-height-sm;
    height: @btn-height-sm;
    border-radius: 50%;
  }
}
