.button-size(@height; @padding-horizontal; @font-size; @border-radius) {
  // @padding-vertical: max(
  //   round((@height - @font-size * @line-height-base) / 2 * 10) / 10 - @border-width-base,
  //   0
  // );
  height: @height;
  padding: 0 @padding-horizontal;
  font-size: @font-size;
  border-radius: @border-radius;
}

.button-color(@color; @background; @border) {
  color: @color;
  background: @background;
  border-color: @border; // a inside Button which only work in Chrome
  // http://stackoverflow.com/a/17253457
  > a:only-child {
    color: currentcolor;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: transparent;
      content: '';
    }
  }
}

.button-disabled(@color: @btn-disable-color; @background: @btn-disable-bg; @border: @btn-disable-border) {
  &[disabled] {
    &,
    &:hover,
    &:focus,
    &:active {
      .button-color(@color; @background; @border);

      text-shadow: none;
      box-shadow: none;
    }
  }
}

.button-variant-other(@color; @background; @border) {
  .button-color(@color; @background; @border);

  &:hover,
  &:focus {
    // & when (@theme = dark) {
    //   .button-color(@primary-5; @background; @primary-5);
    // }
    // & when not (@theme = dark) {
    //   .button-color(
    //     ~`colorPalette('@{btn-primary-bg}', 5) `; @background;
    //       ~`colorPalette('@{btn-primary-bg}', 5) `
    //   );
    // }
  }

  &:active {
    // & when (@theme = dark) {
    //   .button-color(@primary-7; @background; @primary-7);
    // }
    // & when not (@theme = dark) {
    //   .button-color(
    //     ~`colorPalette('@{btn-primary-bg}', 7) `; @background;
    //       ~`colorPalette('@{btn-primary-bg}', 7) `
    //   );
    // }
  }

  .button-disabled();
}

// button基础样式
.btn() {
  position: relative;
  display: inline-block;
  font-weight: @font-weight-normal;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: @btn-border-width @btn-border-style transparent;
  box-sizing: border-box;
  box-shadow: @btn-shadow;
  cursor: pointer;
  transition: all 0.3s @ease-in-out;
  user-select: none;
  touch-action: manipulation;

  .button-size(31px; 14px; 14px; 3px);

  // > .@{iconfont-css-prefix} {
  //   line-height: 1;
  // }

  &,
  &:active,
  &:focus {
    outline: 0;
  }

  &:not([disabled]):hover {
    text-decoration: none;
  }

  &:not([disabled]):active {
    outline: 0;
    box-shadow: none;
  }

  &[disabled] {
    cursor: not-allowed;

    > * {
      pointer-events: none;
    }
  }

  &-lg {
    .button-size(34px; 14px; 16px; 3px);
  }

  &-sm {
    .button-size(28px; 14px; 12px; 3px);
  }
}

// default button style
.btn-default() {
  .button-variant-other(@btn-default-color; @btn-default-bg; @btn-default-border);

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    background: @btn-default-bg;
  }
}

// primary button style
// .btn-primary() {
//   .button-variant-primary(@btn-primary-color; @btn-primary-bg);
// }
