{
  "extends": "@umijs/lint/dist/config/stylelint",
  "rules": {
    "selector-class-pattern": null,
    "function-no-unknown": null,
    "rule-empty-line-before": null,
    "keyframes-name-pattern": null,
    "declaration-empty-line-before": null,
    "no-invalid-position-at-import-rule": null,
    "number-max-precision": null,
    "color-function-notation": null,
    "alpha-value-notation": null,
    "color-hex-length": null,
    "no-duplicate-selectors": null,
    "comment-empty-line-before": null,
    "property-no-vendor-prefix": null,
    "length-zero-no-unit": null,
    "declaration-block-no-duplicate-properties": null,
    "plugin/declaration-block-no-ignored-properties": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "block-no-empty": null
  }
}
