@import '../color/index.less';

@lib-prefix: future;

// colors

// 主、次、常规色
@primary-red: @red;
@primary-blue: @blue;
// @secondary: @blue;
@default: @blue;
@dim-default: #e6f2ff; // 常规淡色

// 功能色
@success: #00c88c;
@dim-success: #00c88c;
@warning: #faaa00;
@dim-warning: #fff7e6;
@danger: #e64545;
@dim-danger: #fcecec;
// @info: @cyan;
@operated-blue: #8955f2;
@operated-gray: #888888;

// @light: @gray-100;
// @dark: @gray-800;

// 中性色

// text
@text-title-color: @neutral-1;
@text-body-color: @neutral-2;
@text-assist-color: @neutral-3;
@text-forbid-color: @neutral-4;
@text-dark-color: @neutral-4;

// 分割 描边
@divider-block-color: #e6ecf2;
@divider-list-color: #dae0e6;
@divider-button-color: #ced3d9;

// 背景
@backgroud-1-color: #f0f1f2;
@backgroud-2-color: #f5f7fa;

// --------------------------------------------------------------
// border
@border-width-base: 1px;

// --------------------------------------------------------------

// font
@font-family: -apple-system, BlinkMacSystemFont, Roboto, Arial,
  'Microsoft YaHei', sans-serif;

@icon-font-family: 'micon';

@font-weight-normal: 400;
@font-weight-bold: 500;

@font-size-base: 14px;
@line-height-base: 1.5715;

@font-size-lg: @font-size-base + 2px;
@font-size-sm: 12px;

@font-size-operate-1: 36px;
@font-height-operate-1: 42px;

@font-size-operate-2: 32px;
@font-height-operate-2: 38px;

@font-size-title-1: 24px;
@font-height-title-1: 30px;

@font-size-title-2: 22px;
@font-height-title-2: 28px;

@font-size-title-3: 18px;
@font-height-title-3: 26px;

@font-size-title-4: 16px;
@font-height-title-4: 24px;

@font-size-body-1: 14px;
@font-height-body-1: 21px;

@font-size-body-2: 12px;
@font-height-body-2: 18px;

// --------------------------------------------------------------

// Animation
@ease-base-out: cubic-bezier(0.7, 0.3, 0.1, 1);
@ease-base-in: cubic-bezier(0.9, 0, 0.3, 0.7);
@ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
@ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
@ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
@ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
@ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
@ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
@ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
@ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
@ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
@ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
@ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
@ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

// --------------------------------------------------------------

// 几何尺寸
@height-base: 34px;
@height-lg: 38px;
@height-sm: 24px;

// --------------------------------------------------------------

// Buttons
@btn-line-height: @line-height-base;

@btn-font-weight: @font-weight-normal;
@btn-border-radius-base: 3px;
@btn-border-radius-sm: 3px;
@btn-border-width: 1px;
@btn-border-style: solid;

@btn-shadow: none;
@btn-primary-shadow: unset;
@btn-text-shadow: unset;

// type
@btn-primary-color: #fff;
@btn-primary-bg: @primary-red;

@btn-default-color: @neutral-2;
@btn-default-bg: @white;
@btn-default-border: @divider-button-color;

@btn-dashed-color: @neutral-3;
@btn-dashed-bg: @white;
@btn-dashed-border: @divider-button-color;
@btn-dashed-hover-color: @neutral-1;
@btn-dashed-hover-bg: @neutral-9;

@btn-text-color: @neutral-1;
@btn-text-hover-color: @primary-red;

@btn-link-color: @primary-blue;
@btn-link-hover-color: @primary-red;

// state
@btn-danger-color: @white;
@btn-danger-bg: @danger;
@btn-danger-border: @danger;

// for compatible
@btn-ghost-color: @white;
@btn-ghost-bg: transparent;
@btn-ghost-border: @white;

@btn-default-ghost-color: @white;
@btn-default-ghost-bg: transparent;
@btn-default-ghost-border: @white;

@btn-disabled-color: @neutral-4;
@btn-disabled-bg: @white;
@btn-disabled-border: @neutral-4;

// @btn-font-size-lg: @font-size-lg;
// @btn-font-size-sm: @font-size-base;
// @btn-padding-horizontal-base: @padding-md - 1px;
// @btn-padding-horizontal-lg: @btn-padding-horizontal-base;
// @btn-padding-horizontal-sm: @padding-xs - 1px;

@btn-height-base: @height-base;
@btn-height-lg: @height-lg;
@btn-height-sm: @height-sm;

@btn-circle-size: @btn-height-base;
@btn-circle-size-lg: @btn-height-lg;
@btn-circle-size-sm: @btn-height-sm;

// @btn-square-size: @btn-height-base;
// @btn-square-size-lg: @btn-height-lg;
// @btn-square-size-sm: @btn-height-sm;
// @btn-square-only-icon-size: @font-size-base + 2px;
// @btn-square-only-icon-size-sm: @font-size-base;
// @btn-square-only-icon-size-lg: @btn-font-size-lg + 2px;

// @btn-group-border: @primary-5;

// @btn-link-hover-bg: transparent;
// @btn-text-hover-bg: rgba(0, 0, 0, 0.018);

// --------------------------------------------------------------

// Media queries breakpoints
// @screen-xs and @screen-xs-min is not used in Grid
// smallest break point is @screen-md
@screen-xs: 480px;
@screen-xs-min: @screen-xs;
// 👆 Extra small screen / phone

// 👇 Small screen / tablet
@screen-sm: 576px;
@screen-sm-min: @screen-sm;

// Medium screen / desktop
@screen-md: 768px;
@screen-md-min: @screen-md;

// Large screen / wide desktop
@screen-lg: 992px;
@screen-lg-min: @screen-lg;

// Extra large screen / full hd
@screen-xl: 1200px;
@screen-xl-min: @screen-xl;

// Extra extra large screen / large desktop
@screen-xxl: 1600px;
@screen-xxl-min: @screen-xxl;

// provide a maximum
@screen-xs-max: (@screen-sm-min - 1px);
@screen-sm-max: (@screen-md-min - 1px);
@screen-md-max: (@screen-lg-min - 1px);
@screen-lg-max: (@screen-xl-min - 1px);
@screen-xl-max: (@screen-xxl-min - 1px);

// Grid system
@grid-columns: 12;
