@import "~@future/core/dist/style/fonts.css";
@import '../color/index.less';

@lib-prefix: ft;

// ICONFONT
@iconfont-css-prefix: anticon;

* {
  box-sizing: border-box;
}


// colors

// 主、次、常规色

// >>> Primary
@primary-red: @red;
@primary-blue: @blue;

@primary-color: @primary-red;
@primary-color-hover: @primary-red;
@primary-color-active: @primary-red;
@primary-color-outline: @primary-red;

// @secondary: @blue;
@default: @blue;
@dim-default: #e6f2ff; // 常规淡色

// 功能色
@success: #00c88c;
@dim-success: #00c88c;
@warning: #faaa00;
@dim-warning: #fff7e6;
@danger: #e64545;
@dim-danger: #fcecec;
// @info: @cyan;
@operated-blue: #8955f2;
@operated-gray: #888888;

// @light: @gray-100;
// @dark: @gray-800;

// 中性色

// text
@text-title-color: @neutral-1;
@text-body-color: @neutral-2;
@text-assist-color: @neutral-3;
@text-forbid-color: @neutral-4;
@text-dark-color: @neutral-4;

@text-color: @neutral-1;
@text-color-secondary: @neutral-2;

@text-color-inverse: @white;
@text-color-dark: fade(@white, 85%);

@icon-color: inherit;
@icon-color-hover: inherit;

@heading-color: fade(@black, 85%);

// 分割 描边
@divider-block-color: #e6ecf2;
@divider-list-color: #dae0e6;
@divider-button-color: #ced3d9;

@divider-tint-color: #e6ecf2; // 浅色
@divider-medium-color: #dae0e6; // 中色
@divider-deep-color: #ced3d9; // 深色

// 背景
@backgroud-1-color: #f0f1f2;
@backgroud-2-color: #f5f7fa;

@background-color-light: hsv(
  0,
  0,
  98%
); // background of header and selected item
@background-color-base: @backgroud-1-color; // Default grey background color

@component-background: #fff;

@item-hover-bg: @backgroud-2-color;

// @processing-color: @blue-6;

// >>> Info
// @info-color: @primary-color;
// @info-color-deprecated-bg: color(~`colorPalette('@{info-color}', 1) `);
// @info-color-deprecated-border: color(~`colorPalette('@{info-color}', 3) `);

// >>> Success
@success-color: @success;
// @success-color-hover: color(~`colorPalette('@{success-color}', 5) `);
// @success-color-active: color(~`colorPalette('@{success-color}', 7) `);
// @success-color-outline: fade(@success-color, @outline-fade);
// @success-color-deprecated-bg: color(~`colorPalette('@{success-color}', 1) `);
// @success-color-deprecated-border: color(~`colorPalette('@{success-color}', 3) `);

// >>> Warning
// @warning-color: @gold-6;
// @warning-color-hover: color(~`colorPalette('@{warning-color}', 5) `);
// @warning-color-active: color(~`colorPalette('@{warning-color}', 7) `);
// @warning-color-outline: fade(@warning-color, @outline-fade);
// @warning-color-deprecated-bg: color(~`colorPalette('@{warning-color}', 1) `);
// @warning-color-deprecated-border: color(~`colorPalette('@{warning-color}', 3) `);

// >>> Error
@error-color: @danger;
@error-color-hover: @neutral-1;
@error-color-active: @neutral-1;
@error-color-outline: none;
@error-color-deprecated-bg: none;
@error-color-deprecated-border: none;

// Disabled states
// 禁用态的文字色
@disabled-color: @neutral-4;
@disabled-bg: @white;
@disabled-active-bg: @white;
@disabled-color-dark: @white;

// --------------------------------------------------------------
// border
// Border color
@border-color-base: @neutral-4; // base border outline a component
@border-color-split: @neutral-4; // split border inside a component
@border-color-inverse: @white;

@border-width-base: 1px; // width of the border for a component
@border-style-base: solid; // style of a components border
@border-radius-base: 3px;
@border-radius-sm: 2px;

@control-border-radius: 3px;

// --------------------------------------------------------------

// Animation
@ease-base-out: cubic-bezier(0.7, 0.3, 0.1, 1);
@ease-base-in: cubic-bezier(0.9, 0, 0.3, 0.7);
@ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
@ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
@ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
@ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
@ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
@ease-in-out-back: cubic-bezier(0.71, -0.46, 0.29, 1.46);
@ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
@ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.34);
@ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
@ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
@ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
@ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

// --------------------------------------------------------------

// 几何尺寸
@height-base: 34px;
@height-lg: 38px;
@height-sm: 24px;

// --------------------------------------------------------------
// Animation
@animation-duration-slow: 0.3s; // Modal
@animation-duration-base: 0.2s;
@animation-duration-fast: 0.1s; // Tooltip

// --------------------------------------------------------------
// font

@font-variant-base: tabular-nums;
@font-feature-settings-base: 'tnum';

@font-family: -apple-system, BlinkMacSystemFont, Roboto, Arial,
  'Microsoft YaHei', sans-serif;

@icon-font-family: 'micon';

@font-weight-normal: 400;
@font-weight-bold: 500;

// @line-height-base: 1.5715;
@line-height-base: 1.5;

@font-size-base: 14px;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: 12px;

@font-size-operate-1: 36px;
@font-height-operate-1: 42px;

@font-size-operate-2: 32px;
@font-height-operate-2: 38px;

@font-size-title-1: 24px;
@font-height-title-1: 30px;

@font-size-title-2: 22px;
@font-height-title-2: 28px;

@font-size-title-3: 18px;
@font-height-title-3: 26px;

@font-size-title-4: 16px;
@font-height-title-4: 24px;

@font-size-body-1: 14px;
@font-height-body-1: 21px;

@font-size-body-2: 12px;
@font-height-body-2: 18px;

// --------------------------------------------------------------
// compact

// default paddings
@default-padding-lg: 24px; // containers
@default-padding-md: 16px; // small containers and buttons
@default-padding-sm: 12px; // Form controls and items
@default-padding-xs: 8px; // small items
@default-padding-xss: 4px; // more small

// arrow border
@arrow-border-radius: 2px;

// vertical paddings
@padding-lg: 16px; // containers
@padding-md: 8px; // small containers and buttons
@padding-sm: 8px; // Form controls and items
@padding-xs: 4px; // small items
@padding-xss: 0px; // more small

// vertical padding for all form controls
@control-padding-horizontal: @padding-sm;
@control-padding-horizontal-sm: @default-padding-xs;

// vertical margins
@margin-lg: 24px; // containers
@margin-md: 16px; // small containers and buttons
@margin-sm: 12px; // Form controls and items
@margin-xs: 8px; // small items
@margin-xss: 4px; // more small

// --------------------------------------------------------------
// Shadow
@shadow-color: rgba(0, 0, 0, 0.15);
@shadow-color-inverse: @component-background;
@box-shadow-base: @shadow-2;
@shadow-1-up: 0 -6px 16px -8px rgba(0, 0, 0, 0.08),
  0 -9px 28px 0 rgba(0, 0, 0, 0.05), 0 -12px 48px 16px rgba(0, 0, 0, 0.03);
@shadow-1-down: 0 6px 16px -8px rgba(0, 0, 0, 0.08),
  0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);
@shadow-1-left: -6px 0 16px -8px rgba(0, 0, 0, 0.08),
  -9px 0 28px 0 rgba(0, 0, 0, 0.05), -12px 0 48px 16px rgba(0, 0, 0, 0.03);
@shadow-1-right: 6px 0 16px -8px rgba(0, 0, 0, 0.08),
  9px 0 28px 0 rgba(0, 0, 0, 0.05), 12px 0 48px 16px rgba(0, 0, 0, 0.03);
@shadow-2: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
// --------------------------------------------------------------

// Buttons
@btn-line-height: @line-height-base;

@btn-font-weight: @font-weight-normal;
@btn-border-radius-base: 3px;
@btn-border-radius-sm: 3px;
@btn-border-width: 1px;
@btn-border-style: solid;

@btn-shadow: none;
@btn-primary-shadow: unset;
@btn-text-shadow: unset;

// type
@btn-primary-color: #fff;
@btn-primary-bg: @primary-red;

@btn-default-color: @neutral-2;
@btn-default-bg: @white;
@btn-default-border: @divider-button-color;

@btn-dashed-color: @neutral-3;
@btn-dashed-bg: @white;
@btn-dashed-border: @divider-button-color;
@btn-dashed-hover-color: @neutral-1;
@btn-dashed-hover-bg: @neutral-9;

@btn-text-color: @neutral-1;
@btn-text-hover-color: @primary-red;

@btn-link-color: @primary-blue;
@btn-link-hover-color: @primary-red;

// state
@btn-danger-color: @white;
@btn-danger-bg: @danger;
@btn-danger-border: @danger;

// for compatible
@btn-ghost-color: @white;
@btn-ghost-bg: transparent;
@btn-ghost-border: @white;

@btn-default-ghost-color: @white;
@btn-default-ghost-bg: transparent;
@btn-default-ghost-border: @white;

@btn-disabled-color: @neutral-4;
@btn-disabled-bg: @white;
@btn-disabled-border: @neutral-4;

// @btn-font-size-lg: @font-size-lg;
// @btn-font-size-sm: @font-size-base;
// @btn-padding-horizontal-base: @padding-md - 1px;
// @btn-padding-horizontal-lg: @btn-padding-horizontal-base;
// @btn-padding-horizontal-sm: @padding-xs - 1px;

@btn-height-base: @height-base;
@btn-height-lg: @height-lg;
@btn-height-sm: @height-sm;

@btn-circle-size: @btn-height-base;
@btn-circle-size-lg: @btn-height-lg;
@btn-circle-size-sm: @btn-height-sm;

// @btn-square-size: @btn-height-base;
// @btn-square-size-lg: @btn-height-lg;
// @btn-square-size-sm: @btn-height-sm;
// @btn-square-only-icon-size: @font-size-base + 2px;
// @btn-square-only-icon-size-sm: @font-size-base;
// @btn-square-only-icon-size-lg: @btn-font-size-lg + 2px;

// @btn-group-border: @primary-5;

// @btn-link-hover-bg: transparent;
// @btn-text-hover-bg: rgba(0, 0, 0, 0.018);

// --------------------------------------------------------------

// Media queries breakpoints
// @screen-xs and @screen-xs-min is not used in Grid
// smallest break point is @screen-md
@screen-xs: 480px;
@screen-xs-min: @screen-xs;
// 👆 Extra small screen / phone

// 👇 Small screen / tablet
@screen-sm: 576px;
@screen-sm-min: @screen-sm;

// Medium screen / desktop
@screen-md: 768px;
@screen-md-min: @screen-md;

// Large screen / wide desktop
@screen-lg: 992px;
@screen-lg-min: @screen-lg;

// Extra large screen / full hd
@screen-xl: 1200px;
@screen-xl-min: @screen-xl;

// Extra extra large screen / large desktop
@screen-xxl: 1600px;
@screen-xxl-min: @screen-xxl;

// provide a maximum
@screen-xs-max: (@screen-sm-min - 1px);
@screen-sm-max: (@screen-md-min - 1px);
@screen-md-max: (@screen-lg-min - 1px);
@screen-lg-max: (@screen-xl-min - 1px);
@screen-xl-max: (@screen-xxl-min - 1px);

// --------------------------------------------------------------

// Grid system
@grid-columns: 12;

// --------------------------------------------------------------

// divider分割线
@divider-color: @divider-deep-color;
@divider-orientation-margin: 5%;
@divider-text-padding: 1em;

// --------------------------------------------------------------
// Spin
// ---
@spin-dot-size-sm: 14px;
@spin-dot-size: 26px;
@spin-dot-size-lg: 32px;

// --------------------------------------------------------------
// Input
// ---
@input-height-base: 31px; // 1920/1366
@input-height-lg: 40px; // 1920
@input-height-sm: 26px; // 1024

@input-padding-horizontal: 10px - 1px;
@input-padding-horizontal-base: @input-padding-horizontal;
@input-padding-horizontal-sm: @input-padding-horizontal;
@input-padding-horizontal-lg: @input-padding-horizontal;

@input-padding-vertical-base: max(
  (
      round(
          ((@input-height-base - @font-size-base * @line-height-base) / 2) * 10
        ) / 10
    ) - @border-width-base,
  3px
);
@input-padding-vertical-sm: max(
  (
      round(((@input-height-sm - @font-size-sm * @line-height-base) / 2) * 10) /
        10
    ) - @border-width-base,
  0
);
@input-padding-vertical-lg: (
    ceil(((@input-height-lg - @font-size-lg * @line-height-base) / 2) * 10) / 10
  ) - @border-width-base;

@input-placeholder-color: @neutral-4;
@input-color: @neutral-1;
@input-icon-color: @neutral-4;

// 默认input border色 hover时border色
@input-border-color: @neutral-5;
@input-hover-border-color: @neutral-3;

// 默认disable态
@input-disabled-color: @neutral-4;
@input-disabled-bg: @backgroud-1-color;

// addon 前后置标签
@input-addon-bg: @backgroud-2-color;

@input-bg: @component-background;
@input-number-hover-border-color: @neutral-3;
@input-number-handler-active-bg: @component-background;
@input-number-handler-hover-bg: @component-background;
@input-number-handler-bg: @component-background;
@input-number-handler-border-color: @neutral-5;

@input-outline-offset: 0 0;
@input-icon-hover-color: fade(@black, 85%);

// --------------------------------------------------------------
// Progress
// --
@processing-color: @primary-blue;

@progress-default-color: @processing-color;
@progress-remaining-color: @background-color-base;
@progress-info-text-color: @progress-text-color;
@progress-radius: 100px;
@progress-steps-item-bg: #f3f3f3;
@progress-text-font-size: 1em;
@progress-text-color: @text-color; // This is for circle text color, should be renamed better
@progress-circle-text-font-size: 1em;

// --------------------------------------------------------------
// Upload
// ---
@upload-actions-color: @text-color-secondary;

// --------------------------------------------------------------
// z-index list, order by `z-index`
@zindex-badge: auto;
@zindex-table-fixed: 2;
@zindex-affix: 10;
@zindex-back-top: 10;
@zindex-picker-panel: 10;
@zindex-popup-close: 10;
@zindex-modal: 1000;
@zindex-modal-mask: 1000;
@zindex-message: 1010;
@zindex-notification: 1010;
@zindex-popover: 1030;
@zindex-dropdown: 1050;
@zindex-picker: 1050;
@zindex-popoconfirm: 1060;
@zindex-tooltip: 1070;
@zindex-image: 1080;

// --------------------------------------------------------------

// Tooltip
// ---
// Tooltip max width
@tooltip-max-width: 250px;
// Tooltip text color
@tooltip-color: #fff;
// Tooltip background color
@tooltip-bg: rgba(0, 0, 0, 0.75);
// Tooltip arrow width
@tooltip-arrow-width: 8px * sqrt(2);
// Tooltip distance with trigger
@tooltip-distance: @tooltip-arrow-width - 1px + 4px;
// Tooltip arrow color
@tooltip-arrow-color: @tooltip-bg;
@tooltip-border-radius: @border-radius-base;

// --------------------------------------------------------------
// Menu


// --------------------------------------------------------------

// Checkbox
@checkbox-size: 16px;
@checkbox-color: @primary-blue;
@checkbox-check-color: #fff;
@checkbox-check-bg: @checkbox-check-color;
@checkbox-border-width: @border-width-base;
@checkbox-border-radius: @border-radius-base;
@checkbox-group-item-margin-right: 8px;

// --------------------------------------------------------------

// Radio
@radio-size: 16px;
@radio-top: 0.2em;
@radio-border-width: 1px;
@radio-dot-size: @radio-size - 6px;
@radio-dot-color: @primary-blue;
@radio-dot-disabled-color: fade(@black, 20%);
@radio-solid-checked-color: @component-background;

// Radio buttons
@radio-button-bg: @btn-default-bg;
@radio-button-checked-bg: @btn-default-bg;
@radio-button-color: @btn-default-color;
@radio-button-hover-color: @primary-blue;
@radio-button-active-color: @primary-blue;
@radio-button-padding-horizontal: @padding-md - 1px;
@radio-disabled-button-checked-bg: @disabled-active-bg;
@radio-disabled-button-checked-color: @disabled-color;
@radio-wrapper-margin-right: 8px;

// --------------------------------------------------------------

// Popover
// ---
// Popover body background color
@popover-bg: @component-background;
// Popover text color
@popover-color: @text-color;
// Popover maximum width
@popover-min-width: 177px;
@popover-min-height: 32px;
// Popover arrow width
@popover-arrow-width: @tooltip-arrow-width;
// Popover arrow color
@popover-arrow-color: @popover-bg;
// Popover outer arrow width
// Popover outer arrow color
@popover-arrow-outer-color: @popover-bg;
// Popover distance with trigger
@popover-distance: @popover-arrow-width + 4px;
@popover-padding-horizontal: @padding-md;

// --------------------------------------------------------------

//Dropdown
@dropdown-menu-bg: @component-background;
@dropdown-vertical-padding: 5px;
@dropdown-edge-child-vertical-padding: 4px;
@dropdown-font-size: @font-size-base;
@dropdown-line-height: 22px;

// Dropdown
@dropdown-selected-color: @primary-color;
@dropdown-menu-submenu-disabled-bg: @component-background;
@dropdown-selected-bg: @primary-blue;

// --------------------------------------------------------------
// Table
// Table
// --

// 页头
@table-title-bg:@backgroud-2-color;

@table-bg: @component-background;
@table-header-bg: @backgroud-2-color; //表头背景色
@table-header-color: @neutral-1; // 表头文字色
@table-header-sort-bg: @background-color-base;
@table-body-sort-bg: #fafafa;
@table-row-hover-bg: #f2f8ff;
@table-selected-row-color: inherit;
@table-selected-row-bg: #f2f8ff;
@table-body-selected-sort-bg: @table-selected-row-bg;
@table-selected-row-hover-bg: darken(@table-selected-row-bg, 2%);
@table-expanded-row-bg: #fbfbfb;
@table-padding-vertical: 16px;
@table-padding-horizontal: 16px;
@table-padding-vertical-md: (@table-padding-vertical * 3 / 4);
@table-padding-horizontal-md: (@table-padding-horizontal / 2);
@table-padding-vertical-sm: (@table-padding-vertical / 2);
@table-padding-horizontal-sm: (@table-padding-horizontal / 2);

@table-border-color: @divider-list-color;// 表格边框颜色
@table-border-radius-base: @border-radius-base;
@table-footer-bg: @backgroud-2-color; // 表格页脚背景色
@table-footer-color: @neutral-1; // 表格页脚文字色
@table-header-bg-sm: @table-header-bg;
@table-font-size: @font-size-base;
@table-font-size-md: @table-font-size;
@table-font-size-sm: @table-font-size;
@table-header-cell-split-color: rgba(0, 0, 0, 0.06);
// Sorter
// Legacy: `table-header-sort-active-bg` is used for hover not real active
@table-header-sort-active-bg: rgba(0, 0, 0, 0.04);
@table-fixed-header-sort-active-bg: hsv(0, 0, 96%);

// Filter
@table-header-filter-active-bg: rgba(0, 0, 0, 0.04);
@table-filter-btns-bg: inherit;
@table-filter-dropdown-bg: @component-background;
@table-expand-icon-bg: @component-background;
@table-selection-column-width: 32px;
// Sticky
@table-sticky-scroll-bar-bg: fade(#000, 35%);
@table-sticky-scroll-bar-radius: 4px;

// --------------------------------------------------------------
// Tree
// ---
@tree-bg: @component-background;
@tree-title-height: 24px;
@tree-child-padding: 18px;
@tree-directory-selected-color: #fff;
@tree-directory-selected-bg: @primary-color;
@tree-node-hover-bg: @item-hover-bg;
@tree-node-selected-bg: @primary-blue;

// --------------------------------------------------------------
// LINK
@link-color: @primary-color;
@link-hover-color: @primary-blue;
@link-active-color: @primary-blue;
@link-decoration: none;
@link-hover-decoration: none;
@link-focus-decoration: none;
@link-focus-outline: 0;
