@import "~@future/core/dist/style/fonts.css";
/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
* {
  box-sizing: border-box;
}
.ft-table-header::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border: none;
}
.ft-table-header::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #d8d8d8;
}
.ft-table-header::-webkit-scrollbar-track {
  border: none;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  border-radius: 0;
  height: 10px;
  background: #ffffff;
}
.ft-table-content,
.ft-table-body {
  overflow-x: scroll!important;
  overflow-x: overlay!important;
}
.ft-table-content::-webkit-scrollbar,
.ft-table-body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border: none;
}
.ft-table-content::-webkit-scrollbar-thumb,
.ft-table-body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #d8d8d8;
}
.ft-table-content::-webkit-scrollbar-track,
.ft-table-body::-webkit-scrollbar-track {
  border: none;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  border-radius: 0;
  height: 10px;
  background: transparent;
}
.ft-table-sticky-scroll {
  opacity: 1;
  border-top: none;
  align-items: flex-end;
  background: transparent;
}
.ft-table-sticky-scroll-bar {
  opacity: 1;
  height: 10px;
  background-color: #d8d8d8;
  border-radius: 5px;
}
.ft-table-sticky-scroll-bar:hover {
  background-color: #d8d8d8;
  border-top: none;
}
.ft-input-affix-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 9px;
  color: #222222;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ced3d9;
  border-radius: 3px;
  transition: all 0.3s;
  display: inline-flex;
  width: unset;
}
.ft-input-affix-wrapper::placeholder {
  color: #b3b3b3;
  user-select: none;
}
.ft-input-affix-wrapper:placeholder-shown {
  text-overflow: ellipsis;
}
.ft-input-affix-wrapper:hover {
  border-color: #888888;
  border-right-width: 1px;
}
.ft-input-affix-wrapper:focus,
.ft-input-affix-wrapper-focused {
  border-color: #007dfa;
  border-right-width: 1px;
  outline: 0;
}
.ft-input-affix-wrapper-disabled {
  color: #b3b3b3;
  background-color: #f0f1f2;
  border-color: #ced3d9;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}
.ft-input-affix-wrapper-disabled:hover {
  border-color: #ced3d9;
  border-right-width: 1px;
}
.ft-input-affix-wrapper[disabled] {
  color: #b3b3b3;
  background-color: #f0f1f2;
  border-color: #ced3d9;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}
.ft-input-affix-wrapper[disabled]:hover {
  border-color: #ced3d9;
  border-right-width: 1px;
}
.ft-input-affix-wrapper-borderless,
.ft-input-affix-wrapper-borderless:hover,
.ft-input-affix-wrapper-borderless:focus,
.ft-input-affix-wrapper-borderless-focused,
.ft-input-affix-wrapper-borderless-disabled,
.ft-input-affix-wrapper-borderless[disabled] {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
textarea.ft-input-affix-wrapper {
  max-width: 100%;
  height: auto;
  min-height: 31px;
  line-height: 1.5;
  vertical-align: bottom;
  transition: all 0.3s, height 0s;
  resize: vertical;
}
.ft-input-affix-wrapper-lg {
  padding: 7px 9px;
  font-size: 16px;
}
.ft-input-affix-wrapper-sm {
  padding: 3px 9px;
  font-size: 12px;
}
.ft-input-affix-wrapper:not(.ft-input-affix-wrapper-disabled):hover {
  z-index: 1;
}
.ft-input-search-with-button .ft-input-affix-wrapper:not(.ft-input-affix-wrapper-disabled):hover {
  z-index: 1;
}
.ft-input-affix-wrapper-focused,
.ft-input-affix-wrapper:focus {
  z-index: 1;
}
.ft-input-affix-wrapper-focused:not(.ft-input-affix-wrapper-disabled),
.ft-input-affix-wrapper-focused:not(.ft-input-affix-wrapper-disabled):focus {
  border-color: #007dfa;
  border-right-width: 1px;
  outline: 0;
}
.ft-input-affix-wrapper-disabled .ft-input[disabled] {
  background: transparent;
}
.ft-input-affix-wrapper > .ft-input {
  font-size: inherit;
  border: none;
  outline: none;
}
.ft-input-affix-wrapper > .ft-input:focus {
  box-shadow: none !important;
}
.ft-input-affix-wrapper > .ft-input:not(textarea) {
  padding: 0;
}
.ft-input-affix-wrapper::before {
  width: 0;
  visibility: hidden;
  content: '\a0';
}
.ft-input-prefix,
.ft-input-suffix {
  display: flex;
  flex: none;
  align-items: center;
}
.ft-input-prefix > *:not(:last-child),
.ft-input-suffix > *:not(:last-child) {
  margin-right: 8px;
}
.ft-input-show-count-suffix {
  color: #555555;
}
.ft-input-show-count-has-suffix {
  margin-right: 2px;
}
.ft-input-prefix {
  margin-right: 4px;
  color: #b3b3b3;
}
.ft-input-suffix {
  margin-left: 4px;
  color: #b3b3b3;
}
.ft-input-clear-icon {
  margin: 0;
  color: #b3b3b3;
  font-size: 12px;
  vertical-align: -1px;
  cursor: pointer;
  transition: color 0.3s;
  display: inline-flex;
}
.ft-input-clear-icon:hover {
  color: #888888;
}
.ft-input-clear-icon:active {
  color: #888888;
}
.ft-input-clear-icon-hidden {
  visibility: hidden;
}
.ft-input-clear-icon-has-suffix {
  margin: 0 4px;
}
.ft-input-affix-wrapper.ft-input-affix-wrapper-textarea-with-clear-btn {
  padding: 0;
}
.ft-input-affix-wrapper.ft-input-affix-wrapper-textarea-with-clear-btn .ft-input-clear-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 1;
}
.ft-input-status-error:not(.ft-input-disabled):not(.ft-input-borderless).ft-input,
.ft-input-status-error:not(.ft-input-disabled):not(.ft-input-borderless).ft-input:hover {
  background: #fff;
  border-color: #e64545;
}
.ft-input-status-error:not(.ft-input-disabled):not(.ft-input-borderless).ft-input:focus,
.ft-input-status-error:not(.ft-input-disabled):not(.ft-input-borderless).ft-input-focused {
  border-color: #e64545;
  border-right-width: 1px;
  outline: 0;
}
.ft-input-status-error .ft-input-prefix {
  color: #222222;
}
.ft-input-affix-wrapper-status-error:not(.ft-input-affix-wrapper-disabled):not(.ft-input-affix-wrapper-borderless).ft-input-affix-wrapper,
.ft-input-affix-wrapper-status-error:not(.ft-input-affix-wrapper-disabled):not(.ft-input-affix-wrapper-borderless).ft-input-affix-wrapper:hover {
  background: #fff;
  border-color: #e64545;
}
.ft-input-affix-wrapper-status-error:not(.ft-input-affix-wrapper-disabled):not(.ft-input-affix-wrapper-borderless).ft-input-affix-wrapper:focus,
.ft-input-affix-wrapper-status-error:not(.ft-input-affix-wrapper-disabled):not(.ft-input-affix-wrapper-borderless).ft-input-affix-wrapper-focused {
  border-color: #e64545;
  border-right-width: 1px;
  outline: 0;
}
.ft-input-affix-wrapper-status-error .ft-input-prefix {
  color: #222222;
}
.ft-input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 9px;
  color: #222222;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ced3d9;
  border-radius: 3px;
  transition: all 0.3s;
}
.ft-input::placeholder {
  color: #b3b3b3;
  user-select: none;
}
.ft-input:placeholder-shown {
  text-overflow: ellipsis;
}
.ft-input:hover {
  border-color: #888888;
  border-right-width: 1px;
}
.ft-input:focus,
.ft-input-focused {
  border-color: #007dfa;
  border-right-width: 1px;
  outline: 0;
}
.ft-input-disabled {
  color: #b3b3b3;
  background-color: #f0f1f2;
  border-color: #ced3d9;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}
.ft-input-disabled:hover {
  border-color: #ced3d9;
  border-right-width: 1px;
}
.ft-input[disabled] {
  color: #b3b3b3;
  background-color: #f0f1f2;
  border-color: #ced3d9;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 1;
}
.ft-input[disabled]:hover {
  border-color: #ced3d9;
  border-right-width: 1px;
}
.ft-input-borderless,
.ft-input-borderless:hover,
.ft-input-borderless:focus,
.ft-input-borderless-focused,
.ft-input-borderless-disabled,
.ft-input-borderless[disabled] {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
textarea.ft-input {
  max-width: 100%;
  height: auto;
  min-height: 31px;
  line-height: 1.5;
  vertical-align: bottom;
  transition: all 0.3s, height 0s;
  resize: vertical;
}
.ft-input-lg {
  padding: 7px 9px;
  font-size: 16px;
}
.ft-input-sm {
  padding: 3px 9px;
  font-size: 12px;
}
.ft-input-group {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222222;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
.ft-input-group[class*='col-'] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}
.ft-input-group > [class*='col-'] {
  padding-right: 8px;
}
.ft-input-group > [class*='col-']:last-child {
  padding-right: 0;
}
.ft-input-group-addon,
.ft-input-group-wrap,
.ft-input-group > .ft-input {
  display: table-cell;
}
.ft-input-group-addon:not(:first-child):not(:last-child),
.ft-input-group-wrap:not(:first-child):not(:last-child),
.ft-input-group > .ft-input:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.ft-input-group-addon,
.ft-input-group-wrap {
  width: 1px;
  white-space: nowrap;
  vertical-align: middle;
}
.ft-input-group-wrap > * {
  display: block !important;
}
.ft-input-group .ft-input {
  float: left;
  width: 100%;
  margin-bottom: 0;
  text-align: inherit;
}
.ft-input-group .ft-input:focus {
  z-index: 1;
  border-right-width: 1px;
}
.ft-input-group .ft-input:hover {
  z-index: 1;
  border-right-width: 1px;
}
.ft-input-search-with-button .ft-input-group .ft-input:hover {
  z-index: 0;
}
.ft-input-group-addon {
  position: relative;
  padding: 0 9px;
  color: #b3b3b3;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  background-color: #f5f7fa;
  border: 1px solid #ced3d9;
  border-radius: 3px;
  transition: all 0.3s;
}
.ft-input-group-addon .ft-select {
  margin: -5px -9px;
}
.ft-input-group-addon .ft-select.ft-select-single:not(.ft-select-customize-input) .ft-select-selector {
  background-color: inherit;
  border: 1px solid transparent;
  box-shadow: none;
}
.ft-input-group-addon .ft-select-open .ft-select-selector,
.ft-input-group-addon .ft-select-focused .ft-select-selector {
  color: #e64545;
}
.ft-input-group-addon .ft-cascader-picker {
  margin: -9px 0;
  background-color: transparent;
}
.ft-input-group-addon .ft-cascader-picker .ft-cascader-input {
  text-align: left;
  border: 0;
  box-shadow: none;
}
.ft-input-group > .ft-input:first-child,
.ft-input-group-addon:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ft-input-group > .ft-input:first-child .ft-select .ft-select-selector,
.ft-input-group-addon:first-child .ft-select .ft-select-selector {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ft-input-group > .ft-input-affix-wrapper:not(:first-child) .ft-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ft-input-group > .ft-input-affix-wrapper:not(:last-child) .ft-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ft-input-group-addon:first-child {
  border-right: 0;
}
.ft-input-group-addon:last-child {
  border-left: 0;
}
.ft-input-group > .ft-input:last-child,
.ft-input-group-addon:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ft-input-group > .ft-input:last-child .ft-select .ft-select-selector,
.ft-input-group-addon:last-child .ft-select .ft-select-selector {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ft-input-group-lg .ft-input,
.ft-input-group-lg > .ft-input-group-addon {
  padding: 7px 9px;
  font-size: 16px;
}
.ft-input-group-sm .ft-input,
.ft-input-group-sm > .ft-input-group-addon {
  padding: 3px 9px;
  font-size: 12px;
}
.ft-input-group-lg .ft-select-single .ft-select-selector {
  height: 40px;
}
.ft-input-group-sm .ft-select-single .ft-select-selector {
  height: 26px;
}
.ft-input-group .ft-input-affix-wrapper:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.ft-input-search .ft-input-group .ft-input-affix-wrapper:not(:last-child) {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.ft-input-group .ft-input-affix-wrapper:not(:first-child),
.ft-input-search .ft-input-group .ft-input-affix-wrapper:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ft-input-group.ft-input-group-compact {
  display: block;
}
.ft-input-group.ft-input-group-compact::before {
  display: table;
  content: '';
}
.ft-input-group.ft-input-group-compact::after {
  display: table;
  clear: both;
  content: '';
}
.ft-input-group.ft-input-group-compact-addon:not(:first-child):not(:last-child),
.ft-input-group.ft-input-group-compact-wrap:not(:first-child):not(:last-child),
.ft-input-group.ft-input-group-compact > .ft-input:not(:first-child):not(:last-child) {
  border-right-width: 1px;
}
.ft-input-group.ft-input-group-compact-addon:not(:first-child):not(:last-child):hover,
.ft-input-group.ft-input-group-compact-wrap:not(:first-child):not(:last-child):hover,
.ft-input-group.ft-input-group-compact > .ft-input:not(:first-child):not(:last-child):hover {
  z-index: 1;
}
.ft-input-group.ft-input-group-compact-addon:not(:first-child):not(:last-child):focus,
.ft-input-group.ft-input-group-compact-wrap:not(:first-child):not(:last-child):focus,
.ft-input-group.ft-input-group-compact > .ft-input:not(:first-child):not(:last-child):focus {
  z-index: 1;
}
.ft-input-group.ft-input-group-compact > * {
  display: inline-block;
  float: none;
  vertical-align: top;
  border-radius: 0;
}
.ft-input-group.ft-input-group-compact > .ft-input-affix-wrapper {
  display: inline-flex;
}
.ft-input-group.ft-input-group-compact > .ft-picker-range {
  display: inline-flex;
}
.ft-input-group.ft-input-group-compact > *:not(:last-child) {
  margin-right: -1px;
  border-right-width: 1px;
}
.ft-input-group.ft-input-group-compact .ft-input {
  float: none;
}
.ft-input-group.ft-input-group-compact > .ft-select > .ft-select-selector,
.ft-input-group.ft-input-group-compact > .ft-select-auto-complete .ft-input,
.ft-input-group.ft-input-group-compact > .ft-cascader-picker .ft-input,
.ft-input-group.ft-input-group-compact > .ft-input-group-wrapper .ft-input {
  border-right-width: 1px;
  border-radius: 0;
}
.ft-input-group.ft-input-group-compact > .ft-select > .ft-select-selector:hover,
.ft-input-group.ft-input-group-compact > .ft-select-auto-complete .ft-input:hover,
.ft-input-group.ft-input-group-compact > .ft-cascader-picker .ft-input:hover,
.ft-input-group.ft-input-group-compact > .ft-input-group-wrapper .ft-input:hover {
  z-index: 1;
}
.ft-input-group.ft-input-group-compact > .ft-select > .ft-select-selector:focus,
.ft-input-group.ft-input-group-compact > .ft-select-auto-complete .ft-input:focus,
.ft-input-group.ft-input-group-compact > .ft-cascader-picker .ft-input:focus,
.ft-input-group.ft-input-group-compact > .ft-input-group-wrapper .ft-input:focus {
  z-index: 1;
}
.ft-input-group.ft-input-group-compact > .ft-select-focused {
  z-index: 1;
}
.ft-input-group.ft-input-group-compact > .ft-select > .ft-select-arrow {
  z-index: 1;
}
.ft-input-group.ft-input-group-compact > *:first-child,
.ft-input-group.ft-input-group-compact > .ft-select:first-child > .ft-select-selector,
.ft-input-group.ft-input-group-compact > .ft-select-auto-complete:first-child .ft-input,
.ft-input-group.ft-input-group-compact > .ft-cascader-picker:first-child .ft-input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.ft-input-group.ft-input-group-compact > *:last-child,
.ft-input-group.ft-input-group-compact > .ft-select:last-child > .ft-select-selector,
.ft-input-group.ft-input-group-compact > .ft-cascader-picker:last-child .ft-input,
.ft-input-group.ft-input-group-compact > .ft-cascader-picker-focused:last-child .ft-input {
  border-right-width: 1px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.ft-input-group.ft-input-group-compact > .ft-select-auto-complete .ft-input {
  vertical-align: top;
}
.ft-input-group.ft-input-group-compact .ft-input-group-wrapper + .ft-input-group-wrapper {
  margin-left: -1px;
}
.ft-input-group.ft-input-group-compact .ft-input-group-wrapper + .ft-input-group-wrapper .ft-input-affix-wrapper {
  border-radius: 0;
}
.ft-input-group.ft-input-group-compact .ft-input-group-wrapper:not(:last-child).ft-input-search > .ft-input-group > .ft-input-group-addon > .ft-input-search-button {
  border-radius: 0;
}
.ft-input-group.ft-input-group-compact .ft-input-group-wrapper:not(:last-child).ft-input-search > .ft-input-group > .ft-input {
  border-radius: 3px 0 0 3px;
}
.ft-input-group-wrapper {
  display: inline-block;
  width: 100%;
  text-align: start;
  vertical-align: top;
}
.ft-input[type='color'] {
  height: 31px;
}
.ft-input[type='color'].ft-input-lg {
  height: 40px;
}
.ft-input[type='color'].ft-input-sm {
  height: 26px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.ft-input-textarea-show-count {
  position: relative;
}
.ft-input-textarea-show-count > .ft-input {
  height: 100%;
}
.ft-input-textarea-show-count::after {
  float: right;
  color: #555555;
  white-space: nowrap;
  content: attr(data-count);
  pointer-events: none;
  line-height: 21px;
  position: absolute;
  bottom: 5px;
  right: 16px;
  text-align: end;
}
.ft-input-textarea-show-count.ft-input-textarea-in-form-item::after {
  margin-bottom: -22px;
}
.ft-input-textarea-suffix {
  position: absolute;
  top: 0;
  right: 9px;
  bottom: 0;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  margin: auto;
}
.ft-input-search .ft-input:hover,
.ft-input-search .ft-input:focus {
  z-index: 1 !important;
  border-color: #007dfa;
}
.ft-input-search .ft-input:hover + .ft-input-group-addon .ft-input-search-button:not(.ft-btn-primary),
.ft-input-search .ft-input:focus + .ft-input-group-addon .ft-input-search-button:not(.ft-btn-primary) {
  border-left-color: #007dfa;
}
.ft-input-search .ft-input-affix-wrapper {
  border-radius: 0;
}
.ft-input-search .ft-input-lg {
  line-height: 1.4998;
}
.ft-input-search > .ft-input-group > .ft-input-group-addon:last-child {
  left: -1px;
  padding: 0;
  border: 0;
}
.ft-input-search > .ft-input-group > .ft-input-group-addon:last-child .ft-input-search-button {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0 3px 3px 0;
  padding-left: 10px;
  padding-right: 10px;
}
.ft-input-search > .ft-input-group > .ft-input-group-addon:last-child .ft-input-search-button:not(.ft-btn-primary) {
  color: #555555;
}
.ft-input-search > .ft-input-group > .ft-input-group-addon:last-child .ft-input-search-button:not(.ft-btn-primary).ft-btn-loading::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ft-input-search-button {
  height: 31px;
}
.ft-input-search-button:hover,
.ft-input-search-button:focus {
  z-index: 1;
  z-index: 0;
}
.ft-input-search-large .ft-input-search-button {
  height: 40px;
}
.ft-input-search-small .ft-input-search-button {
  height: 26px;
}
